html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

img,
p {
  margin: 0px;
}

select:hover {
  cursor: pointer;
}

option {
  background: #16262b !important;
}

#newspaper-date .react-datepicker-wrapper {
  width: 100px;
  margin-bottom: 20px;
}

#newspaper-date .react-datepicker__input-container {
  width: 100px;
}

#newspaper-date input {
  background: transparent;
  width: 100px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px 8px;
  display: flex;
  justify-content: center;
}
#newspaper-date input:hover {
  cursor: pointer;
}

.isFlashing {
  animation: flashing 5s infinite;
}

@keyframes flashing {
  0% {
    color: #fffdd0;
    text-shadow: none;
  }
  50% {
    color: rgb(255, 179, 86);
    text-shadow: 0 0 0.2em rgb(243, 149, 33), 0 0 0.2em rgb(243, 149, 33),
      0 0 0.2em rgb(243, 149, 33);
  }
  100% {
    color: #fffdd0;
    text-shadow: none;
  }
}
